@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:ital@1&display=swap');
*{
    margin: 0;
    padding: 0;
  
}

.banner img{
    height: 60px;
    width: 60px;
   margin-top: 2%;
    margin-left: 5%;
  border-radius: 50%;
  box-shadow: 4px 4px 10px gray;
  justify-content: center;
}
/* top section starts here */
.top-section{
    display: flex;
}

.top-text{
    margin-top: 90px;
}
.color{
    color: orangered;
}
.half-width{
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
   
}

.half-width h1{
    
    font-size: 45px;
    line-height: 60px;
    letter-spacing: 3px;
    color: #534d4d;
    font-family: 'Poppins', sans-serif;
}
.half-width p{
    padding-top:10px ;
    padding-bottom: 40px;
    letter-spacing: 1px;
    font-size: 17px;
    color: #056433;
    font-family: 'Bona Nova', serif;
    font-weight: 500;
}

.order-btn{
   
    text-decoration: none;
    background-image: linear-gradient(#e76851,red);
    color: white;
   padding: 10px 22px;
   border-radius: 30px;
   font-weight: 600;
   box-shadow: 4px 4px 10px gray;


}
.half-width img{
    width: 90%;
    margin-left: 20px;
    
}
/* top section ends here */


/* about me section starts here */
.aboutMe{
    margin-top: 100px;
    display: flex;
   
    background-image: url(shapes/7-removebg-preview.png);
    background-repeat: no-repeat;
   
}

.about-text{
    margin-top: 100px;
}
.about-text h1{
    font-size: 40px;
}
.about-text a{
    padding-top: 10px;
}

/* mid-section ends here */
/* available recipy text */
.recipy-text{
   
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
    
}

.recipy-text h2{
    
   padding-bottom: 2%;
    font-size: 25px;

}
.recipy-text p{
   line-height: 20px;
   font-size: 18px;
   letter-spacing: 1px;
   color: #534d4d;
}

/* recipy section starts here */
.recipy-section{
    display: flex;
    margin-left: 2.5%;
    margin-right: 2.5%;
    padding-bottom: 50px;
   
}
.food-items{
    width: 30%;
     border-radius: 15px;
     box-shadow: 10px 10px 40px #b1afaf;
    padding: 5px;
     margin-left: 2.5%;
    margin-right: 2.5%;
    text-align: center;
}
.food-items img{
    width:95% ;
    margin-top: 2%;
   
   
}
.food-items h1{
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    padding-top: 10px;
    padding-bottom: 7px;
}
.food-items p{
    padding: 2%;
    color: #344949;
    font-family: 'Bona Nova', serif;
    line-height:20px ;
    font-weight: 500;
    
}

/* recipy section ends here */

/* Social Media Traffics Info Starts */
.social-media{
    margin-top: 100px;
    margin-bottom: 90px;
    display: flex;
    margin-left:10%;
    margin-right:10%;
    box-shadow: 10px 10px 40px #c2bfbf;
    padding: 4%;
    border-radius: 8px;
}
.traffics{
    width:30%;
    text-align: center;
    margin-left: 3%;

}
.social-media h1{
    color: #5e5c5c;
    font-family: 'Poppins', sans-serif;
    font-weight: 1200;
}
.social-media p{
    color: #354747;
    font-size: 15px;
}
/* social media traffic section ends */

/* premium membershipsection starts */
.membership-form{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    color: gray;
    /* background-color: #ecf0f3; */
    background-image: url(shapes/7-removebg-preview.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.login-form{
    width: 310px;
    height: 500px;
    background-color:#ecf0f3;
    border-radius: 30px;
    box-shadow: 10px 10px 15px #cbced1,
    -10px -10px 15px  white;
}

.logo{
 font-size: 1.3em;
 font-weight: bold;
 text-align: center;
 letter-spacing: 4px;
 margin-top: 40px;
 border: 1px solid orange;
 margin-right: 1.7em;
 margin-left: 1.7em;
 background-color:#282d46;
 border-radius: 30px;
 padding: 8px 0;
 box-shadow: 2px 5px 10px #f77162,
 -2px -5px 10px #F95431;
}
.title{
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    padding-top: 20px;
   font-weight: 700;
   color: #2f3d38;
}
.sub-title{
    text-align: center;
    padding-top: 5px;
    font-weight: 500;
    text-transform: capitalize;
    color:  #2f3d38;
}

.fields{
    width: 100%;
    padding: 50px 10px 10px 10px;
    margin-left: 18px;
}
.fields input{
    border: none;
    outline: none;
    background: none;
    color: #555;
    padding: 20px 60px 20px 15px;
}
.user-input,.password-input{
    margin-bottom: 20px;
    border-radius:20px ;
    box-shadow: inset 8px 8px 15px #cbced1,
    inset -8px -8px 15px  white;
}
.btn{
    margin-left: 80px;
    margin-right: 80px;
    padding:8px 10px;
}

.sign-in{
    border: none;
    outline: none;
    width: 100%;
    height: 30px;
    border-radius: 20px;
    background:#F95431;
    cursor: pointer;
    transition: .8s ease-in-out;
    font-weight: 500;

}
.sign-in:hover{
    background-color: black;
    color: #F95431;
    font-size: 1.2em;
    
}
.link{
margin-left: 65px;
margin-top: 20px;
}
.link a{
    text-decoration: none;
  margin-top: 150px;
  color: #555;
  font-size: 15px;
  
}
.link a:hover{
    color: red;
    transition: .7s ease;
   
}
.link p{
    margin-left: 84px;
    font-size: 20px;
    font-weight: 500;
}
/* premium membershipsection ends here */


/* footer section */
.footer{
    margin-top:70px ;
    margin-bottom: 5px;
    background-color: #0d1520;
    text-align: center;
    padding: 20px;
}
.footer h1,p{
    color: #cacaca;

}
.ihs{
    padding-top:.5%;
    color: #9e9a9a;
}
/* footer ends here.*/
